$font-sora-bold: 'Sora-Bold';
$font-sora-extrabold: 'Sora-ExtraBold';
$font-sora-extralight: 'Sora-ExtraLight';
$font-sora-light: 'Sora-Light';
$font-sora-medium: 'Sora-Medium';
$font-sora-regular: 'Sora-Regular';
$font-sora-semibold: 'Sora-SemiBold';
$font-sora-thin: 'Sora-Thin';
