<cap-data-grid
  [columns]="columns()"
  [data]="transactions()"
  trackByKey="id"
  [itemSize]="itemSize">
  <ng-template [capCellTemplate]="'iban'" let-value>
    <span class="transactions-grid__iban">{{ value | iban }}</span>
  </ng-template>
  <ng-template [capCellTemplate]="'importe'" let-value>
    <span
      class="transactions-grid__importe"
      [class.transactions-grid__importe--ingreso]="value >= 0"
      [class.transactions-grid__importe--gasto]="value < 0">
      {{ formatAmount(value) }}
    </span>
  </ng-template>
  <ng-template [capCellTemplate]="'estado'" let-value>
    <cap-status-badge [kind]="statusKind(value)">{{ value }}</cap-status-badge>
  </ng-template>
</cap-data-grid>
