<div #container class="mfe-container">
  @if (cargando()) {
    <div class="spinner-wrapper" [class.fade-out]="fadeOut()">
      <cap-spinner [label]="config.loadingLabelKey | translate" />
    </div>
  }
  @if (loadError()) {
    <cap-alert kind="danger" [message]="loadError() ?? ''">
      <cap-button
        variant="capitalflow-outline"
        size="small"
        textStyle="none"
        [label]="config.retryLabelKey | translate"
        (capClick)="retryLoad()">
      </cap-button>
    </cap-alert>
  }
</div>
